body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    
  }
  
  .container {
    width: 80%;
    max-width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.9); /* Zoom out effect */
  }
  
  .card {
    width: 100%;
    padding: 20px;
    /*background-image: linear-gradient(rgb(255, 255, 255,0.1),rgba(255, 255, 255,0.1)); */
    background-color: rgb(253, 244, 230);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    color: black;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:chocolate;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .text-white {
    color:chocolate !important;
  }
  .text-center{
    color:chocolate;
  }