body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: 'src/assets/petimage.jpg';
    background-size: cover;
    background-position: center;
}

.content {
    flex: 1;
    
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
