<main>
   <!-- <div *ngIf="errorMessage">{{ errorMessage }} </div> -->
      <div *ngFor="let groomingService of groomingServices" class="card">
        <div class="card-content">
          <h2>{{ groomingService.name }}</h2>
          <p><strong>Description:</strong> {{ groomingService.description }}<br/>
          <strong>Price:</strong> {{ groomingService.price }}<br/>
          <strong>Available:</strong> {{ groomingService.available ? 'Yes' : 'No' }}</p><br/>
          </div>
    </div>
  
  </main>